wget https://www.python.org/ftp/python/3.5.2/Python-3.5.2.tar.xz
tar xJf ./Python-3.5.2.tar.xz
cd ./Python-3.5.2
./configure --prefix=/opt/python3.5
make && sudo make install

sudo pip-3.5 install Django==1.9.7
 
sudo pip-3.5 install django-crispy-forms==1.6.0
sudo pip-3.5 install openpyxl==2.4.0
sudo pip-3.5 install xlutils==2.0.0
sudo pip-3.5 install xlwt==1.1.2 	


sudo pip-3.5 install psycopg2==2.6.2