sudo yum -y update
sudo yum install git-all
mkdir /djangoProject
cd /djangoProject
sudo git clone https://github.com/dekkerlab/cLIMS.git
sudo yum install python35*
sudo yum install mod24_wsgi-python35.x86_64

sudo pip-3.5 install Django==1.9.7
sudo pip-3.5 install django-crispy-forms==1.6.0
sudo pip-3.5 install openpyxl==2.4.0
sudo pip-3.5 install xlutils==2.0.0
sudo pip-3.5 install xlwt==1.1.2 

sudo yum install postgresql95*
sudo yum -y groupinstall "Development Tools"
sudo pip-3.5 install psycopg2
sudo yum install httpd24*

##create database clims_db;
##drop database clims_db;
##CREATE ROLE dekker_lab WITH LOGIN PASSWORD 'CHYYTS14#';
##GRANT ALL PRIVILEGES ON DATABASE clims_db TO dekker_lab;
##ALTER USER dekker_lab CREATEDB;

##pg_dump clims_db > clims.sql;
##cat /djangoProject/cLIMS/clims.sql.txt | psql clims_db


## /usr/local/lib/python3.5/site-packages   PYTHON LIBRARIES
## /usr/local/lib64/python3.5/site-packages/	PYTHON LIBRARIES
## sudo python3 manage.py runserver 0.0.0.0:80	RUNSERVER WITH PORT

## /var/lib/pgsql9/data/pg_hba.conf
##Your pg_hba.conf is configured to use 'ident' authentication for connections from localhost (127.0.0.1). You need it to be changed to md5 for your database and user combination.

##sudo /etc/init.d/httpd stop
##sudo /etc/init.d/httpd start  

##cd /etc/httpd/conf    APACHE CONFIG FILE
##cd /etc/httpd/logs	  APACHE LOGS


######### CHANGES FOR APACHE CONFIG FILE##########
##Alias /static /djangoProject/cLIMS/static
##<Directory "/djangoProject/cLIMS/static">
##        Require all granted
##</Directory>

##WSGIScriptAlias / /djangoProject/cLIMS/cLIMS/apache/wsgi.py
##<Directory "/djangoProject/cLIMS/cLIMS/apache">
##        <Files wsgi.py>
##                Require all granted
##        </Files>
##</Directory>

##WSGIPythonPath /djangoProject/cLIMS/:/usr/local/lib/python3.5/site-packages/


