{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
 <script src="{% static "siteWide/js/show.js" %}"></script>
 
{% if experiment %}
<div class="bodyContent container">

<div>
	<a href="#">
		<button type="button" class="btn btn-warning edit pull-right">Edit</button>
	</a>
	{% if request.session.protocol == "Hi-C" %}
		<a href="/importAnalysis/{{sample.pk}}">
		<button type="button" class="btn btn-success pull-right">Add Analysis</button>
	</a>
	{% else %}
	<a href="/addAnalysis/">
		<button type="button" class="btn btn-success pull-right">Add Analysis</button>
	</a>
	{%endif%}
	<a href="/addFilesSample">
			<button type="button" class="btn btn-success pull-right">Add Files</button>
	</a>
</div>
<br/>
<div>
<div class="col-xs-6 pull-left">
<span class="tableHead">Details of Experiment -- {{ experiment.experiment_name }}</span>
<a href="/deleteExperiment/{{ experiment.id }}">
<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
</a>
<a href="/editExperiment/{{experiment.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
</a>
<br/>

{% if experiment %}
<span class="rowHead">Project Name: </span>{{experiment.experiment_project}}<br/>
<span class="rowHead">Biosource: </span>{{experiment.experiment_biosample.biosample_biosource}}<br/>
<span class="rowHead">Biosample: </span>{{ experiment.experiment_biosample }}<br/>
<span class="rowHead">Protocol: </span>{{ experiment.experiment_protocol }}<br/>
<span class="rowHead">Enzyme: </span>{{ experiment.experiment_enzyme }}<br/>
<span class="rowHead">Description: </span>{{ experiment.experiment_description }}<br/>
{% endif %}

{% if individuals %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Individual Details</span>
<br/>
<div class="divData hidden">
{% for individual in individuals %}
<a href="/deleteIndividual/{{ individual.id }}">
<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
</a>
<a href="/editIndividual/{{individual.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
</a>
<span class="rowHead">Individual Name: </span>{{individual.individual_name}}<br/>
<span class="rowHead">Individual Vendor: </span>{{individual.individual_vendor}}<br/>
<span class="rowHead">Individual URL: </span>{{individual.url}}<br/>
<span class="rowHead">Individual Documents: </span>{{individual.documents}}<br/>
<span class="rowHead">Individual References: </span>{{individual.references}}<br/>
<span class="rowHead">Individual DBxrefs: </span>{{individual.dbxrefs}}<br/>
<span class="rowHead">Individual Type: </span>{{ individual.individual_type }}<br/>
<span class="rowHead">Individual Details: </span><br/>
<table class="table table-bordered table-hover table-responsive">
<th><span class="rowHead">Field</span></th>
<th><span class="rowHead">Value</span></th>
	{% for keys,values in individual.individual_fields.items %}
	<tr>
		<td>{{ keys }}</td>
		<td>{{ values }}</td>
	</tr>
	{% endfor %}
</table>
{% endfor %}
</div>
</div>
{% endif %}

{% if biosource %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Biosource Details</span><br/>
<div class="divData hidden">
<a href="/deleteBiosource/{{ biosource.id }}">
<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
</a>
<a href="/editBiosource/{{biosource.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
</a>
<span class="rowHead">Biosource Name: </span>{{biosource.biosource_name}}<br/>
<span class="rowHead">Biosource Type: </span>{{biosource.biosource_type}}<br/>
<span class="rowHead">Biosource Cell Line: </span>{{ biosource.biosource_cell_line }}<br/>
<span class="rowHead">Biosource Cell Line Tire: </span>{{ biosource.biosource_cell_line_tier }}<br/>
<span class="rowHead">Biosource Standard Operation Protocol (4DN): </span>{{ biosource.biosource_SOP_cell_line }}<br/>
<span class="rowHead">Biosource Vendor: </span>{{ biosource.biosource_vendor }}<br/>
<span class="rowHead">Biosource Individual: </span>{{ biosource.biosource_individual }}<br/>
<span class="rowHead">Biosource Tissue: </span>{{ biosource.biosource_tissue }}<br/>
<span class="rowHead">Biosource Description: </span>{{ biosource.biosource_description }}<br/>
<span class="rowHead">Biosource URL: </span>{{biosource.url}}<br/>
<span class="rowHead">Biosource Documents: </span>{{biosource.documents}}<br/>
<span class="rowHead">Biosource References: </span>{{biosource.references}}<br/>
<span class="rowHead">Biosource DBxrefs: </span>{{biosource.dbxrefs}}<br/>
</div>
</div>
{% endif %}

{% if biosample %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Biosample Details</span><br/>
<div class="divData hidden">
<a href="/deleteBiosample/{{ biosample.id }}">
<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
</a>
<a href="/editBiosample/{{biosample.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
</a>
<span class="rowHead">Biosample Name: </span>{{biosample.biosample_name}}<br/>
<span class="rowHead">Biosample Biosource: </span>{{biosample.biosample_biosource}}<br/>
<span class="rowHead">Biosample Individual: </span>{{ biosample.biosample_individual }}<br/>
<span class="rowHead">Biosample Modification: </span>{{ biosample.biosample_modification }}<br/>
<span class="rowHead">Biosample Protocol: </span>{{ biosample.biosample_protocol }}<br/>
<span class="rowHead">Biosample Treatment: </span>{{ biosample.biosample_treatment }}<br/>
<span class="rowHead">Biosample URL: </span>{{biosample.url}}<br/>
<span class="rowHead">Biosample Documents: </span>{{biosample.documents}}<br/>
<span class="rowHead">Biosample References: </span>{{biosample.references}}<br/>
<span class="rowHead">Biosample DBxrefs: </span>{{biosample.dbxrefs}}<br/>
<span class="rowHead">Biosample Other Details: </span>{{ biosample.biosample_type }}<br/>

{% if biosample.biosample_fields %}
<table class="table table-bordered table-hover table-responsive">
<th><span class="rowHead">Field</span></th>
<th><span class="rowHead">Value</span></th>
	{% for keys,values in biosample.biosample_fields.items %}
	<tr>
		<td>{{ keys }}</td>
		<td>{{ values }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
</div></div>
{% endif %}


{% if treatments %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Biosample Treatment</span><br/>
<div class="divData hidden">
		{% for treatment in treatments %}
			{% if treatment.treatmentRnai_name %}
			<a href="/deleteTreatmentRnai/{{ treatment.id }}">
				<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
			</a>
			<a href="/editTreatmentRnai/{{treatment.id}}">
				<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
			</a>
			RNAi Treatment<br/>
			<span class="rowHead">TreatmentRnai Name: </span>{{treatment.treatmentRnai_name}}<br/>
			<span class="rowHead">TreatmentRnai RNAi Type: </span>{{treatment.treatmentRnai_rnai_type}}<br/>
			<span class="rowHead">TreatmentRnai RNAi Vendor: </span>{{treatment.treatmentRnai_rnai_vendor}}<br/>
			<span class="rowHead">TreatmentRnai RNAi Constructs: </span>{{treatment.treatmentRnai_rnai_constructs}}<br/>
			<span class="rowHead">TreatmentRnai Target: </span>{{treatment.treatmentRnai_target}}<br/>
			<span class="rowHead">TreatmentRnai Nucleotide Seq: </span>{{treatment.treatmentRnai_nucleotide_seq}}<br/>
			<span class="rowHead">TreatmentRnai Biosamples: </span><br/>
				{% for values in treatment.biosample.all %}
	    			({{ forloop.counter }}) {{values}}<br/>
	  			{% endfor %}
			<span class="rowHead">TreatmentRnai Description: </span>{{treatment.treatmentRnai_description}}<br/>
			{% endif %}
			
			{% if treatment.treatmentChemical_name %}
			<a href="/deleteTreatmentChemical/{{ treatment.id }}">
				<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
			</a>
			<a href="/editTreatmentChemical/{{treatment.id}}">
				<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
			</a>
			Chemical Treatment<br/>
			<span class="rowHead">TreatmentChemical Name: </span>{{treatment.treatmentChemical_name}}<br/>
			<span class="rowHead">TreatmentChemical Chemical: </span>{{treatment.treatmentChemical_chemical}}<br/>
			<span class="rowHead">TreatmentChemical Concentration: </span>{{treatment.treatmentChemical_concentration}}<br/>
			<span class="rowHead">TreatmentChemical Concentration Units: </span>{{treatment.treatmentChemical_concentration_units}}<br/>
			<span class="rowHead">TreatmeTreatment Duration: </span>{{treatment.treatmentChemical_duration}}<br/>
			<span class="rowHead">TreatmentChemical Duration Units: </span>{{treatment.treatmentChemical_duration_units}}<br/>
			<span class="rowHead">TreatmentChemical Temperature: </span>{{treatment.treatmentChemical_temperature}}<br/>
			<span class="rowHead">TreatmentChemical Biosamples: </span><br/>
				{% for values in treatment.biosample.all %}
	    			({{ forloop.counter }}) {{values}}<br/>
	  			{% endfor %}
			<span class="rowHead">TreatmentChemical Description: </span>{{treatment.treatmentChemical_description}}<br/>
			{% endif %}
			
			{% if treatment.name %}
			<a href="/deleteOther/{{ treatment.id }}">
				<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
			</a>
			<a href="/editOther/{{treatment.id}}">
				<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
			</a>
			Other Treatment<br/>
			<span class="rowHead">Treatment Name: </span>{{treatment.name}}<br/>
			<span class="rowHead">Treatment Biosamples: </span><br/>
				{% for values in treatment.biosample.all %}
	    			({{ forloop.counter }}) {{values}}<br/>
	  			{% endfor %}
			<span class="rowHead">Treatment Description: </span>{{treatment.description}}<br/>
			{% endif %}
			
			<span class="rowHead">Treatment URL: </span>{{treatment.url}}<br/>
			<span class="rowHead">Treatment Documents: </span>{{treatment.documents}}<br/>
			<span class="rowHead">Treatment References: </span>{{treatment.references}}<br/>
			<span class="rowHead">Treatment DBxrefs: </span>{{treatment.dbxrefs}}<br/>
			<hr/>
		{% endfor %}
</div></div>
{% endif %}

{% if modification %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Biosample Modification</span><br/>
<div class="divData hidden">
<a href="/deleteModification/{{ modification.id }}">
	<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
</a>
<a href="/editModification/{{modification.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
</a>
		<span class="rowHead">Modification Name: </span>{{modification.modification_name}}<br/>
		<span class="rowHead">Modification Type: </span>{{modification.modification_type}}<br/>
		<span class="rowHead">Modification Constructs: </span>{{modification.modification_constructs}}<br/>
		<span class="rowHead">Modification Vendor: </span>{{modification.modification_vendor}}<br/>
		<span class="rowHead">Modification gRNA: </span>{{modification.modification_gRNA}}<br/>
		<span class="rowHead">Modification Genomic Regions: </span>{{modification.modification_genomicRegions}}<br/>
		<span class="rowHead">Modification Target: </span>{{modification.modification_target}}<br/>
		<span class="rowHead">Modification Description: </span>{{modification.modification_description}}<br/>
		<span class="rowHead">Modification URL: </span>{{modification.url}}<br/>
		<span class="rowHead">Modification Documents: </span>{{modification.documents}}<br/>
		<span class="rowHead">Modification References: </span>{{modification.references}}<br/>
		<span class="rowHead">Modification DBxrefs: </span>{{modification.dbxrefs}}<br/>
</div></div>
{% endif %}

{% if constructs %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Modification Construct</span><br/>
<div class="divData hidden">
		{% for construct in constructs %}
		<a href="/deleteConstruct/{{ construct.id }}">
			<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
		</a>
		<a href="/editConstruct/{{construct.id}}">
			<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
		</a>
		<span class="rowHead">Construct Name: </span>{{construct.construct_name}}<br/>
		<span class="rowHead">Construct Type: </span>{{construct.construct_type}}<br/>
		<span class="rowHead">Construct Vendor: </span>{{construct.construct_vendor}}<br/>
		<span class="rowHead">Construct Designed To Target: </span>{{construct.construct_designed_to_target}}<br/>
		<span class="rowHead">Construct Insert Sequence: </span>{{construct.construct_insert_sequence}}<br/>
		<span class="rowHead">Construct Map: </span>{{construct.construct_map}}<br/>
		<span class="rowHead">Construct Tag: </span>{{construct.construct_tag}}<br/>
		<span class="rowHead">Construct Vector Backbone: </span>{{construct.construct_vector_backbone}}<br/>
		<span class="rowHead">Construct Description: </span>{{construct.construct_description}}<br/>
		{% endfor %}
</div></div>
{% endif %}

{% if targets %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Modification Target</span><br/>
<div class="divData hidden">
		{% for target in targets %}
		<a href="/deleteTarget/{{ target.id }}">
			<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
		</a>
		<a href="/editTarget/{{target.id}}">
			<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
		</a>
		<span class="rowHead">Target Genes: </span>{{target.target_genes}}<br/>
		{% endfor %}
</div></div>
{% endif %}

{% if genomicRegions %}
<hr/>
<div class="infoBlock">
<a style="cursor: pointer;"><i class="fa fa-plus-square-o expand" aria-hidden="true"></i></a>
<a style="cursor: pointer;"><i class="fa fa-minus-square-o collapse hidden" aria-hidden="true"></i></a>
<span class="tableHead">Associated Modification Genomic Region</span><br/>
<div class="divData hidden">
		{% for genomicRegion in genomicRegions %}
		<a href="/deleteGenomicRegions/{{ genomicRegion.id }}">
			<button type="button" class="btn btn-danger pull-right hidden show">Delete</button>
		</a>
		<a href="/editGenomicRegions/{{genomicRegion.id}}">
			<button type="button" class="btn btn-warning pull-right hidden show">Edit</button>
		</a>
		<span class="rowHead">Genomic Region Genome Assembly: </span>{{genomicRegion.genomicRegions_genome_assembly}}<br/>
		<span class="rowHead">Genomic Region Chromosome: </span>{{genomicRegion.genomicRegions_chromosome}}<br/>
		<span class="rowHead">Genomic Region Start Coordinate: </span>{{genomicRegion.genomicRegions_start_coordinate}}<br/>
		<span class="rowHead">Genomic Region End Coordinate: </span>{{genomicRegion.genomicRegions_end_coordinate}}<br/>
		<span class="rowHead">Genomic Region Location Description: </span>{{genomicRegion.genomicRegions_location_description}}<br/>
		<span class="rowHead">Genomic Region Start Location: </span>{{genomicRegion.genomicRegions_start_location}}<br/>
		<span class="rowHead">Genomic Region End Location: </span>{{genomicRegion.genomicRegions_end_location}}<br/>
		{% endfor %}
</div></div>
{% endif %}

<hr/>
<br/>
<br/>


</div>

<div class="col-xs-6 pull-right">
{% if data %}
<span class="tableHead">Analysis Details of {{ sample.protocol }}</span><br/>
<table class="table table-bordered table-hover table-responsive">
 
{% if sample.protocol.name == "Hi-C"%}
  	 <tr>
		<td><span class="rowHead">Analysis Id</span></td>
  		<td><span class="rowHead">Assembly</span></td>
  		<td><span class="rowHead">Valid Pair</span></td>
  		<td><span class="rowHead">Error</span></td>
  		<td></td>
  	</tr>
  {% for fields in data %}
  	<tr>
		<td><a href="/detailAnalysis/{{fields.pk}}">{{fields.analysisId}}</a></td>
  		<td>{{fields.genome}}</td>
  		<td>{{fields.validPair}} ({{fields.validPairPer}}%)</td>
  		<td>{{fields.error}} ({{fields.errorPer}}%)</td>
  		<td>
  		<a href="/deleteAnalysis/{{ fields.id }}">
		<button type="button" class="btn btn-danger pull-right hidden show">Delete Analysis</button>
	</a><br/><br/>
 	<a href="/editAnalysis/{{fields.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Analysis</button>
	</a>
  		</td>
  	</tr>
  {% endfor %}
  {% else %}
  {% for fields in data %}
  <tr>
  {% for name, value in fields.get_fields %}
  {% if value %}
	<td>
		{% if name == "notes"%}
			<a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ value }}">{{ name }}</a>
		{% else %}
			<span class="rowHead">{{ name }}: </span>{{ value }}
		{% endif %}
    </td>
	</td>
  {% endif %}
 {% endfor %}
 	<td>
 	 <a href="/deleteAnalysis/{{ fields.id }}">
		<button type="button" class="btn btn-danger pull-right hidden show">Delete Analysis</button>
	</a><br/><br/>
 	<a href="/editAnalysis/{{fields.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Analysis</button>
	</a>
	</td>
 </tr> 
{% endfor %} 
{% endif %}
</table>
{% endif %}
</div>
</div>
{% else %}
    <p>No data available.</p>
{% endif %}
<br/><br/>
</div>
{% endblock %} 

