{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
 <script src="{% static "siteWide/js/show.js" %}"></script>
 
{% if experiment %}
<div class="bodyContent container">

<div>
	<a href="#">
		<button type="button" class="btn btn-warning edit pull-right">Edit</button>
	</a>
	{% if request.session.protocol == "Hi-C" %}
		<a href="/importAnalysis/{{sample.pk}}">
		<button type="button" class="btn btn-success pull-right">Add Analysis</button>
	</a>
	{% else %}
	<a href="/addAnalysis/">
		<button type="button" class="btn btn-success pull-right">Add Analysis</button>
	</a>
	{%endif%}
	<a href="/addFilesSample">
			<button type="button" class="btn btn-success pull-right">Add Files</button>
	</a>
</div>
<br/>
<div>
<div class="col-xs-6 pull-left">
<span class="tableHead">Details of {{ experiment.experiment_name }}</span>
<a href="/deleteSample/{{ sample.id }}">
<button type="button" class="btn btn-danger pull-right hidden show">Delete Sample</button>
</a>
<a href="/editSample/{{sample.id}}">
	<button type="button" class="btn btn-warning pull-right hidden show">Edit Sample</button>
</a>

<br/>
<!-- <span class="rowHead">Lane Name:</span><br/>
  {% for values in sample.lane.all %}
    ({{ forloop.counter }}) {{values}}<br/>
  {% endfor %} -->
<span class="rowHead">Project Name: </span>{{experiment.experiment_project}}<br/>
<span class="rowHead">Experiment Type: </span>{{ experiment.experiment_type }}<br/>
<span class="rowHead">Fields: </span>{{ experiment.experiment_fields }}<br/>
<span class="rowHead">Biosample: </span>{{ experiment.experiment_biosample }}<br/>
<span class="rowHead">Protocol: </span>{{ experiment.experiment_protocol }}<br/>
<span class="rowHead">Enzyme: </span>{{ experiment.experiment_enzyme }}<br/>
<span class="rowHead">Description: </span>{{ experiment.experiment_description }}<br/>


{% if files %}
<hr/>
<span class="tableHead">Files Details</span>
{% for file in files %}
<hr/>
    	<span class="rowHead">Sample Name:</span> {{ file.sample.name }}<br/>
    	<span class="rowHead">Sequencing Unit:</span> {{ file.lane.name }}<br/>
    	<span class="rowHead">File Name:</span> {{ file.name }}<br/>
    	<span class="rowHead">Main File Path:</span>{{ file.main_file_path }}<br/>
    	<span class="rowHead">Backup Path:</span>{{ file.backup_path }}<br/>
    	<span class="rowHead">s3 Path:</span>{{ file.s3_path }}<br/>
    	<span class="rowHead">sha256sum:</span>{{ file.sha256sum }}<br/>
    	<span class="rowHead">md5sum:</span>{{ file.md5sum }}<br/>
    	<span class="rowHead">Number Of Reads :</span>{{ file.number_of_reads }}<br/>
    	<span class="rowHead">Notes :</span>{{ file.notes }}<br/>
    <a href="/deleteFile/{{ file.id }}">
		<button type="button" class="btn btn-danger pull-right hidden show">Delete File</button>
	</a>
    <a href="/editFile/{{file.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit File</button>
	</a>
{% endfor %}
{% endif %}
</div>

<div class="col-xs-6 pull-right">
{% if data %}
<span class="tableHead">Analysis Details of {{ sample.protocol }}</span><br/>
<table class="table table-bordered table-hover table-responsive">
 
{% if sample.protocol.name == "Hi-C"%}
  	 <tr>
		<td><span class="rowHead">Analysis Id</span></td>
  		<td><span class="rowHead">Assembly</span></td>
  		<td><span class="rowHead">Valid Pair</span></td>
  		<td><span class="rowHead">Error</span></td>
  		<td></td>
  	</tr>
  {% for fields in data %}
  	<tr>
		<td><a href="/detailAnalysis/{{fields.pk}}">{{fields.analysisId}}</a></td>
  		<td>{{fields.genome}}</td>
  		<td>{{fields.validPair}} ({{fields.validPairPer}}%)</td>
  		<td>{{fields.error}} ({{fields.errorPer}}%)</td>
  		<td>
  		<a href="/deleteAnalysis/{{ fields.id }}">
		<button type="button" class="btn btn-danger pull-right hidden show">Delete Analysis</button>
	</a><br/><br/>
 	<a href="/editAnalysis/{{fields.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Analysis</button>
	</a>
  		</td>
  	</tr>
  {% endfor %}
  {% else %}
  {% for fields in data %}
  <tr>
  {% for name, value in fields.get_fields %}
  {% if value %}
	<td>
		{% if name == "notes"%}
			<a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ value }}">{{ name }}</a>
		{% else %}
			<span class="rowHead">{{ name }}: </span>{{ value }}
		{% endif %}
    </td>
	</td>
  {% endif %}
 {% endfor %}
 	<td>
 	 <a href="/deleteAnalysis/{{ fields.id }}">
		<button type="button" class="btn btn-danger pull-right hidden show">Delete Analysis</button>
	</a><br/><br/>
 	<a href="/editAnalysis/{{fields.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Analysis</button>
	</a>
	</td>
 </tr> 
{% endfor %} 
{% endif %}
</table>
{% endif %}
</div>
</div>
{% else %}
    <p>No data available.</p>
{% endif %}
<br/><br/>
</div>
{% endblock %} 

